[data-bs-theme=dark] {
  --bs-dark: #222323;
  --bs-dark-rgb: 34,35,35;
  --bs-dark-text-emphasis: #7A7B7B;
  --bs-dark-bg-subtle: #070707;
  --bs-dark-border-subtle: #141515;
  --bs-body-color: #F0F6F0;
  --bs-body-color-rgb: 240,246,240;
  --bs-secondary-color: rgba(240,246,240,0.75);
  --bs-secondary-color-rgb: 240,246,240,0.75;
  --bs-tertiary-color: rgba(240,246,240,0.5);
  --bs-tertiary-color-rgb: 240,246,240,0.5;
  --bs-body-font-family: 'Mona Sans', sans-serif;
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #222323;
  --bs-btn-border-color: #222323;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1D1E1E;
  --bs-btn-hover-border-color: #1B1C1C;
  --bs-btn-focus-shadow-rgb: 222,222,222;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1B1C1C;
  --bs-btn-active-border-color: #1A1A1A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #222323;
  --bs-btn-disabled-border-color: #222323;
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: #222323;
  --bs-btn-border-color: #222323;
  --bs-btn-focus-shadow-rgb: 34,35,35;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #222323;
  --bs-btn-hover-border-color: #222323;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #222323;
  --bs-btn-active-border-color: #222323;
  --bs-btn-disabled-color: #222323;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #222323;
}

